/*///////////////////////// EB GARAMOND VARIABLE /////////////////////////*/
@font-face{
  font-family: 'EBGaramond';
  font-style: normal;
  src: url('../fonts/EBGaramond-VariableFont_wght.woff') format('woff');
}

@font-face{
  font-family: 'EBGaramond';
  font-style: italic;
  src: url('../fonts/EBGaramond-Italic-VariableFont_wght.woff') format('woff');
}

/*///////////////////////////// CSS RESET //////////////////////////////*/
p, h1, h2, h3, h4, h5, h6, footer, header, section, article, aside, body, pre, img, div{
  box-sizing: border-box;
  font-weight:normal;
  margin:0;
  padding:0;
}

/*//////////////////////// CLASSE DE CAMOUFLAGE /////////////////////////*/
.hidden{
  display:none;
}

#invisible{
  display:none;
}

/*////////////////////////////////// BASE ///////////////////////////////////*/
html{
  background:#FAFADD;
  font-family: 'EBGaramond';
  font-size: calc(18px + 1vw);
  font-style: normal;
  font-weight: normal;
}

section{
  font-size:1em;
  padding: 1vw;
  position: relative;
  top:1.2rem;
}

/*/////////////////// LIENS/BOUTONS ///////////////////*/
a{
  cursor: pointer;
  text-decoration: none;
}

a:active {
    transform: scale(0.95);
}

a:visited, a:link{
  color:black;
}

a:focus, a:hover{
  background: black;
  color:white;
}

/*////////////////////////////////// HEADER ///////////////////////////////////*/
header{
  background-color: #FAFADD;
  border: solid black;
  border-width: 0 0 2px 0;
  font-size: 0.6rem;
  position:fixed;
  height: 1.2rem; width:100%;
  z-index: 1;
}

.header-a{
  box-sizing: border-box;
  display:inline-block;
  max-height:100%;
  padding:0.3em 1em;
  text-align: center;
  text-decoration: none;
}

/*////////////////////////////////// SPLIT ///////////////////////////////////*/
.gutter.gutter-horizontal {
  background-color: black;
  cursor: ew-resize;
  height: 100vh;
  top:1.2rem;
  transform: translate(0, +1.2rem);
}

.split, .gutter.gutter-horizontal {
  float: left;
  height: calc(100vh - 1.2rem);
  overflow-x: hidden;
  overflow-y: auto;
}

/*////////////////////////////////// LIVE ///////////////////////////////////*/
section#live{
  /* background-color: red; */
}

.wrapper{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*////////////////////////////////// TEXTE ///////////////////////////////////*/
section#texte{
  /* background-color: yellow; */
  font-size: 0.7rem;
}

.post{
  float:right;
  position: relative;
  width:100%; max-width: 800px;
}

div.inline{
  float:right;
  font-size: calc(1.2em - 10%);
  line-height: calc(1.1em + 0.5vw);
  text-align: justify;
  text-align-last: left;
  text-indent:calc(1em);
  text-justify: inter-word;
  width:90%; min-width: 10em;
}

.date{
  float:left;
  font-size: calc(0.6em - 10%);
  position: relative;
  text-align: right;
  top:0.5em;
  transform: translate(-1em);
  width:10%; min-width: 2em;
}

.span{
  hyphens:auto;
}

.titre{
  font-style: italic;
}

/*///////////////////////////////// IMAGES ///////////////////////////////////*/
section#images{
  /* background-color: lightblue; */
  position: fixed;
  right:0;
}

#images div{
  /* background-color: #FAFADD; */
  background-color: black;
  height: 0; width:100%;
  padding-top: 56.25%;
  position:relative;
  text-align: center;
}

#images img{
  display:inherit;
  max-height:100%; max-width: 100%;
  position: absolute;
  top:50%; left:50%;
  text-align:center;
  transform: translate(-50%, -50%);
}

/*///////////////////////////////// IMAGES ///////////////////////////////////*/
section.about-body{
  float:left;
  font-size: 0.6rem;
}

article.groupe{
  height:auto;
  width: 100%;
  margin: 1em 0;
  position: relative;
}

p.coucou{
  margin-bottom:0.5em;
}

div.expérience{
  /* background-color: red; */
  float:left;
  width:55%;
  margin-top: 2em;
  margin-right: 5%;
}

div.visuel{
  /* background-color: yellow; */
  display: flex;
  flex-wrap:wrap;
  float:right;
  height:100%;
  position: relative;
  top: 3.8em;
  width:40%;
}

.visuel img{
  max-height: 100%; max-width: 50%;
  position: relative;
}

.visuel:nth-child(2) > img{
  max-width:30%;
}

.visuel > img:hover, .visuel > img:active{
  transform:scale(5);
  position: absolute;
  z-index:2;
}

.about{
  float:left;
  margin: 0 1em;
  width: 40vw;
}

a#retour-top{
  background-color: #FAFADD;
  bottom:0;
  font-size: 0.8rem;
  padding: 0.5em 1em;
  position: fixed;
  right:0;
}

.about-body h1{
  font-size: 0.8rem;
}

.about-body ul{
  list-style-type: circle;
}
