/*////////////// HAPPY TIMES AT THE IKOB //////////////*/
@font-face{
  font-family: 'HappyTimes';
  font-weight: normal;
  src: url('../fonts/happy-times-NG_regular_master_web.woff') format('woff');
}

@font-face{
  font-family: 'HappyTimes';
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/happy-times-NG_italic_master_web.woff') format('woff');
}

@font-face{
  font-family: 'HappyTimes';
  font-weight: bold;
  src: url('../fonts/happy-times-NG_bold_master_web.woff') format('woff');
}

/*////////////////// CSS RESET ///////////////////*/
p, h1, h2, h3, h4, h5, h6, footer, header, section, article, aside, body, pre, img, div{
  box-sizing: border-box;
  font-weight:normal;
  margin:0;
  padding:0;
}

/*////////////////// RESTE DU CSS ///////////////////*/
body{
  background:#F2F2F2;
  font-family: 'HappyTimes';
  font-size: 10px;
  font-weight: normal;
}

button{
  background-color: #F2F2F2;
  border:0;
  font-family: 'HappyTimes';
  font-size: 1rem;
  margin-left: 0.5rem;
  padding:0.5rem 1rem;
  position:fixed;
  text-align: center;
  text-decoration: none;
}

button:hover, button:focus {
    background: black;
    color:white;
}

button:active {
    transform: scale(0.95);
}

img{
  border: 1px solid black;
  filter:grayscale();
  max-height:100%;
  max-width:100%;
}

img:hover, img:focus{
  filter:none;
}

.vid{
  border: 1px solid black;
  border-radius: 1rem;
  font-size: 1.5rem;
  hyphens:auto;
  line-height: 1.9rem;
  margin:1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  width: 70%;
}

.titre{
  color:black;
  cursor:pointer;
  font-style: italic;
  /* font-weight: bold; */
  text-decoration: none;
}

.titre:hover, .titre:focus {
  background: black;
  color:white;
}

.date{
  float:left;
  font-size: 0.8rem;
  position: relative;
  right:0;
  text-align: right;
  top:2rem;
  width:14%;
}

section#corps{
  display:flex;
  flex-direction: column-reverse;
  height:100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width:80%;
}

.hidden{
  display:none;
}
